<div class="person-edit-form">
    <h1>Изменение информации об участнике</h1>
    <form>

        <div class="form-group hidden">
            <md-input-container>
                <input mdInput type="text" [(ngModel)]="person.id" name="id" placeholder="id" disabled>
            </md-input-container>
        </div>

        <div class="form-group">
            <md-input-container>
                <input mdInput type="text" class="form-control form-field" [(ngModel)]="person.fullname" name="fullname" placeholder="Ф.И.О. сотрудника" disabled>
            </md-input-container>
        </div>

        <div class="form-group">
            <md-input-container>
                <input mdInput type="text" class="form-control form-field" [(ngModel)]="person.manid" name="manid" placeholder="ID пропуска сотрудника" disabled>
            </md-input-container>
        </div>

        <div class="form-group">
            <md-input-container>
                <input mdInput type="text" class="form-control form-field"  [(ngModel)]="person.position" name="position"  placeholder="Введите должность" required>
            </md-input-container>
        </div>

        <button md-raised-button type="submit" color="primary" md-dialog-close color="accent" class="float-right form-submit-button">Отмена</button>
        <button md-raised-button type="submit" color="primary" (click)="closeDialog()" color="accent" class="float-right form-submit-button">Сохранить</button>

    </form>
</div>