<div class="organization-add-form">
    <h1>Добавление внутренней организации</h1>
    <form>
        <div class="form-group">
            <md-input-container>
            <input mdInput type="text" class="form-control form-field" [(ngModel)]="organization.name" name="name" placeholder="Введите наименование организации" required>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <input mdInput type="text" class="form-control form-field" [(ngModel)]="organization.phone" name="phone" placeholder="Введите контактный номер телефона организации" required>
            </md-input-container>
        </div>
        <input type="hidden" id="id" required>
        <button md-raised-button type="submit" color="primary" (click)="closeDialog()" color="primary" class="float-right form-submit-button">Отмена</button>
        <button md-raised-button type="submit" color="primary" (click)="addOrganization()" color="primary" class="float-right form-submit-button">Добавить</button>
    </form>
</div>