.form-submit-button {
  margin:15px 0 0 15px;
}
.form-submit-button:first-child {
  margin-right:0;
}

.organization-edit-form {
  h1 {font-size:24px;color:#000;font-weight:normal;}
  .form-field {
    width:550px;
  }
}