.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.photo {
  float:left;
  margin-right:20px;
  width:100px;
  height:100px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

md-card {
  width: 360px;
  min-height:134px;
  padding: 16px;
  margin: 24px;
  float:left;
  position:relative;
  a {
    text-decoration: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
md-card-title {
  margin: 0 0 6px 0;
  font-size: 18px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

md-card:hover {
  background: #f9f9f9;
}

.action {
  position:absolute;
  bottom:8px;
  right:10px;
  color:#00838F;
  md-icon {
    cursor: pointer;
  }
}