<div class="person-add-form">
    <h1>Привязка участника к организации</h1>
    <form>

        <div class="form-group">
            <md-input-container>
                <input mdInput placeholder="Введите Ф.И.О. сотрудника" [mdAutocomplete]="autoPersons" [formControl]="personCtrl" name="manid" minlength="4" maxlength="64" required>
            </md-input-container>
            <md-autocomplete #autoPersons="mdAutocomplete" [displayWith]="displayPersonFn" required="required">
                <md-option *ngFor="let person of filteredPersons | async" [value]="person" (onSelectionChange)="setPersonId(person.manid)">
                    {{ person.fullname }}
                </md-option>
            </md-autocomplete>

        </div>

        <div class="form-group">
            <md-input-container>
                <input mdInput placeholder="Введите наименование организации" [mdAutocomplete]="autoOrganizations" [formControl]="organizationCtrl" name="org_id" required>
            </md-input-container>
            <md-autocomplete #autoOrganizations="mdAutocomplete" [displayWith]="displayOrganizationFn" required="required">
                <md-option *ngFor="let organization of filteredOrganizations | async" [value]="organization" (onSelectionChange)="setOrganizationId(organization.id)">
                    {{ organization.name }}
                </md-option>
            </md-autocomplete>
        </div>

        <div class="form-group">
            <md-input-container>
                <input mdInput type="text" class="form-control form-field" [(ngModel)]="person.position" name="position" placeholder="Введите должность" required>
            </md-input-container>
        </div>
        <input type="hidden" id="id" required>
        <button md-raised-button type="submit" color="primary" (click)="closeDialog()" color="accent" class="float-right form-submit-button">Отмена</button>
        <button md-raised-button type="submit" color="primary" (click)="addPerson()" color="accent" class="float-right form-submit-button">Добавить</button>

    </form>
</div>